<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil Pessoal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil Pessoal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nome</ion-card-title>
      <ion-card-subtitle>Perreira</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Profissão:</strong> </p>
      <p><strong>Hobbies:</strong>  aprender inglês</p>
      <p><strong>Redes Sociais:</strong> Facebook - </p>
    </ion-card-content>
  </ion-card>
</ion-content>
